.navbar-list 
    display: flex
    justify-content: space-between
    width: 100%
    position: relative
    // Search bar
    .search
        display: flex 
        justify-content: center
        input 
            outline: none
            border: none
            width: 100%
            padding-left: 15px
    // Navbar items 
    .navbar-item
        display: flex 
        flex-direction: column
        align-items: center
        background: #ffffff
        border: 1px solid rgba(0, 0, 0, 0.3)
        border-radius: 8px
        flex: 1
        height: 45px
        button
            height: 45px
            border: none 
            border-radius: 8px
        .drop-down-list
            display: flex 
            flex-direction: column
            background: white 
            left: 0px
            right: 0px
            overflow-y: overlay
            height: 300px 
            width: 100%
            ul 
                display: flex 
                flex-direction: column
                gap: 20px     
            .drop-down-item
                white-space: nowrap 
                overflow: hidden 
                text-overflow: ellipsis

    .navbar-item.opened
        z-index: 999
        height: 100%