*
    box-sizing: border-box 
    padding: 0
    margin: 0
    list-style-type: none 

#root
    display: flex 
    justify-content: center

.App
    max-width: 1120px
    display: flex 
    flex-direction: column
    justify-content: center
    width: 100%
    font-family: 'Roboto', sans-serif

$mobile: 320px
$tab: 768px 
$large-tab: 1024px    
$desktop: 1366px
// Media queries
@media screen and (min-width: $mobile) and (max-width: $tab - 1)
    header 
        margin: 25px 0px
    .navbar-list
        flex-direction: column
        gap: 15px
    .drop-down-list
        height: 478px
    li
        padding: 20px 30px
    form 
        gap: 6px
    .App 
        margin: 0 20px
@media screen and (min-width: $tab) and (max-width: $large-tab - 1)
    .App 
        margin: 0 34px
    .drop-down-list
        height: 400px
    li
        padding: 15px 20px
    form 
        gap: 15px
        flex-direction: column

@media screen and (min-width: $large-tab) and (max-width: $desktop - 1)
    .App 
        margin: 0 42px
    .drop-down-list
        height: 400px
    li
        padding: 22px 20px
    form 
        gap: 15px
        flex-direction: column
@media screen and (min-width: $desktop)
    .drop-down-list
        height: 345px
    form 
        gap: 10px
        input 
            width: 95px

// Others queries
@media screen and (min-width: $tab)
    header 
        margin: 35px 0px
    .navbar-list
        gap: 20px
    li
        padding: 22px 20px